<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

    <!-- 회원가입 -->
    <insert id="join" parameterType="UserDTO">
        INSERT INTO MEMBER
        (
            M_NUM,
            ID,
            PW,
            NAME,
            GOODS,
            AGE,
            GENDER,
            K_GRADE,
            L_GRADE,
            ADMIN_M,
            POINT,
            J_DATE
        )
        VALUES
        (
            M_NUM.NEXTVAL,
            #{id},
            #{pw},
            #{name},
            #{goods},
            #{age},
            #{gender},
            #{kGrade},
            #{lGrade},
            #{adminM},
            #{point},
            SYSDATE
        )
    </insert>

    <!-- 로그인 -->
    <select id="login" parameterType="UserDTO" resultType="UserDTO">
        SELECT
            M_NUM AS mNum,
            ID AS id,
            PW AS pw,
            NAME AS name,
            GOODS AS goods,
            AGE AS age,
            GENDER AS gender,
            K_GRADE AS kGrade,
            L_GRADE AS lGrade,
            ADMIN_M AS adminM,
            POINT AS point,
            J_DATE AS jDate,
            PROFILE_SET AS profileSet
        FROM MEMBER
        WHERE ID = #{id}
        AND PW = #{pw}
    </select>
	<!-- 초기프로필 설정  -->    
 <update id="updateProfileSet" parameterType="UserDTO">
    UPDATE MEMBER
    SET
        K_GRADE = #{kGrade},
        L_GRADE = #{lGrade},
        PROFILE_SET = 'Y'
    WHERE M_NUM = #{mNum}
</update>

    <!-- 아이디 중복 체크 -->
    <select id="checkId" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE ID = #{id}
    </select>

    <!-- 전체 회원 조회 SQL -->
    <select id="selectAllUser" resultType="UserDTO">
        SELECT
            M_NUM AS mNum,
            ID AS id,
            PW AS pw,
            NAME AS name,
            GOODS AS goods,
            AGE AS age,
            GENDER AS gender,
            K_GRADE AS kGrade,
            L_GRADE AS lGrade,
            ADMIN_M AS adminM,
            POINT AS point,
            J_DATE AS jDate
        FROM MEMBER
        ORDER BY M_NUM DESC
    </select>

	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="UserDTO">
		UPDATE MEMBER 
		SET PW=#{newPw} 
		WHERE ID=#{id}
	</update>
	
	<!-- 마이페이지 -->
	<select id="myPage" resultType="UserDTO">
		SELECT * 
		FROM MEMBER 
		WHERE ID=#{id}
	</select>
	
	<!-- 도전과제 확인 -->
	<select id="mAchievement">
		SELECT * FROM ACHIEVEMENT
	</select>
	
	<!-- 도전과제 성공 -->
	<insert id="successA">
    INSERT INTO M_ACHIEVEMENT
    (
       M_A_NUM,
       M_NUM,
       ACHIEVE_NUM,
       M_A_DATE
    )
    VALUES
    (
        M_ACHIEVEMENT_SEQ.NEXTVAL,
        #{mNum},
        #{achieveNum},
        SYSDATE
    )
</insert>
	
	<!-- 상품 구매 -->
<insert id="purchaseGoods" parameterType="map">
    INSERT INTO POINT_SHOP_HIS
    (
       P_S_NUM,
       M_NUM,
       GOODS_NUM,
       GOODS,
       GOODS_TEXT,
       PRICE,
       PURCHASE
    )
    SELECT
       (SELECT NVL(MAX(P_S_NUM), 0) + 1 FROM POINT_SHOP_HIS),
       #{mNum},
       G.GOODS_NUM,
       G.GOODS,
       G.GOODS_TEXT,
       G.PRICE,
       1
    FROM GOODS G
    WHERE G.GOODS_NUM = #{goodsNum}
</insert>
	
	
<select id="selectTrainingData" parameterType="map" resultType="com.kendo.model.TrainingDTO">
    SELECT
        S.POSTURE_NUM AS postureNum,
        S.DIVISION AS division,
        S.GRADE AS grade,
        S.G_NAME AS gName,
        1 AS fileDiv,
        CASE
            WHEN S.DIVISION = 1 AND S.POSTURE_NUM = 1 THEN '/uploads/img/jungdan.jpg'
            WHEN S.DIVISION = 1 AND S.POSTURE_NUM = 2 THEN '/uploads/img/sangdan.jpg'

        WHEN S.DIVISION = 2 AND S.POSTURE_NUM = 1 THEN '/uploads/img/vonTag.jpg'
		WHEN S.DIVISION = 2 AND S.POSTURE_NUM = 2 THEN '/uploads/img/pflug.jpg'
		WHEN S.DIVISION = 2 AND S.POSTURE_NUM = 3 THEN '/uploads/img/ox.jpg'
		WHEN S.DIVISION = 2 AND S.POSTURE_NUM = 4 THEN '/uploads/img/alber.jpg'
			            ELSE ''
        END AS url
    FROM SM_GRADE S
    WHERE S.DIVISION = #{division}
      AND S.POSTURE_NUM = #{postureNum}
</select>

<!-- 포인트 상점 상품 목록 조회 -->
<select id="pointShopList" resultType="map">
    SELECT
        GOODS_NUM AS "goodsNum",
        GOODS AS "goods",
        GOODS_TEXT AS "goodsText",
        PRICE AS "price"
    FROM GOODS
    ORDER BY GOODS_NUM
</select>



<!-- 도전과제 완료 저장 -->
<insert id="insertAchievementClear" parameterType="map">
    INSERT INTO M_ACHIEVEMENT
    (
        M_A_NUM,
        M_NUM,
        ACHIEVE_NUM,
        M_A_DATE
    )
    SELECT
        (SELECT NVL(MAX(M_A_NUM), 0) + 1 FROM M_ACHIEVEMENT),
        #{mNum},
        #{achieveNum},
        SYSDATE
    FROM DUAL
    WHERE NOT EXISTS (
        SELECT 1
        FROM M_ACHIEVEMENT
        WHERE M_NUM = #{mNum}
        AND ACHIEVE_NUM = #{achieveNum}
    )
</insert>

<!-- 도전과제 보상 포인트 지급 -->
<update id="addAchievementPoint" parameterType="map">
    UPDATE MEMBER
    SET POINT = NVL(POINT, 0) + (
        SELECT POINT
        FROM ACHIEVEMENT
        WHERE ACHIEVE_NUM = #{achieveNum}
    )
    WHERE M_NUM = #{mNum}
</update>




<insert id="insertTrainHis" parameterType="map">
    INSERT INTO TRAIN_HIS
    (
        HIS_NUM,
        M_NUM,
        T_DATE,
        DIVISION,
        TRAIN_NUM,
        POSTURE_NUM,
        A_P
    )
    VALUES
    (
        (SELECT NVL(MAX(HIS_NUM), 0) + 1 FROM TRAIN_HIS),
        #{mNum},
        SYSDATE,
        #{division},
        #{trainNum},
        #{postureNum},
        #{accuracy}
    )
</insert>


<select id="selectMyPageStats" parameterType="int" resultType="map">
    SELECT
        COUNT(DISTINCT DIVISION || '-' || TRAIN_NUM || '-' || POSTURE_NUM) AS "completeCount",
        NVL(ROUND(AVG(A_P)), 0) AS "avgAccuracy"
    FROM TRAIN_HIS
    WHERE M_NUM = #{mNum}
</select>




<!-- 도전과제용 훈련 기록 조회 -->
<select id="selectChallengeTrainHistory" parameterType="int" resultType="map">
    SELECT
        DIVISION AS "DIVISION",
        TRAIN_NUM AS "TRAIN_NUM",
        POSTURE_NUM AS "POSTURE_NUM",
        TO_CHAR(T_DATE, 'YYYY-MM-DD') AS "T_DATE",
        NVL(A_P, 0) AS "ACCURACY"
    FROM TRAIN_HIS
    WHERE M_NUM = #{mNum}
    ORDER BY T_DATE DESC
</select>



<update id="updateTrainingGrade" parameterType="map">
    UPDATE MEMBER
    SET
        K_GRADE = #{kGrade},
        L_GRADE = #{lGrade},
        PROFILE_SET = 'Y'
    WHERE M_NUM = #{mNum}
</update>


<!-- 내가 구매한 칭호 목록 조회 -->
<select id="selectOwnedTitles" parameterType="int" resultType="map">
    SELECT DISTINCT
        GOODS_NUM AS "goodsNum",
        GOODS AS "goods",
        GOODS_TEXT AS "goodsText"
    FROM POINT_SHOP_HIS
    WHERE M_NUM = #{mNum}
      AND PURCHASE = 1
      AND GOODS_NUM IN (1, 2, 3, 4)
    ORDER BY GOODS_NUM
</select>


<!-- 장착한 칭호 저장 -->
<update id="updateMemberGoods" parameterType="com.kendo.model.UserDTO">
    UPDATE MEMBER
    SET GOODS = #{goods}
    WHERE M_NUM = #{mNum}
</update>

</mapper>